.top-message {
  position: absolute;
  top: 2px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 6px;
  margin: auto;
  border: solid 4px #800;
  border-radius: 8px;
  background-color: #f88;
  color: #330000;
  cursor: pointer;
}
