.user-profile-picture-wrapper:hover .user-profile-picture-hover {
  display: inline-flex;
}

.user-profile-picture-wrapper .user-profile-picture-hover {
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.room-component-message-avatar {
  color: transparent;
}

#ritsu-profile-picture-upload {
  display: none;
}

.ritsu-avatar-karma-warning {
  position: absolute;
  top: 116px;
  left: 0px;
}

html.hidePfp {
  .room-component-message-left,
  .navigation-notification-unit-image {
    display: none;
  }
}
