a.ritsu-message-anchor {
  text-decoration: underline;
}
.material-icons-inline {
  font-size: inherit;
}
.material-icons {
  user-select: none;
}
html.largerText .room-component-message-text {
  font-size: 1.3rem;
}
