html.imgBlur {
  div.ritsu-would-blur > img {
    filter: blur(7px);
    transition: filter 1s ease;
  }
  div:hover.ritsu-would-blur > img {
    filter: blur(0px);
  }
}

// don't clamp images, or the blur gets cut off
.room-component-message-text.room-component-message-text,
.notification-unit-body.notification-unit-body {
  overflow: visible;
}
