.reload-warning {
  margin: 2em;
  text-align: center;
  color: #e33;
}

.ritsu-menu-container {
  height: calc(100% - 46px);
  overflow: auto;
}

.settings-section {
  padding-top: 1em;
}

// spinner thingy
.lds-dual-ring {
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #8ac;
  border-color: #8ac transparent #8ac transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.permamute-list {
  margin-left: 0.5em;
  cursor: pointer;
}
