.picture-upload-info {
  font-size: 14px;
  font-weight: 400;
  color: "#adb6c7";
}

.picture-upload-info div {
  margin-bottom: 1em;
}

.picture-upload-error {
  color: red;
  font-weight: bold;
}

.picture-upload-error-reason {
  font-weight: initial;
}
