.room-component-message-right {
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.user-badge-container {
  align-self: center;
}

.user-badge-tick {
  display: flex;
  position: static;
}

.room-component-flair {
  max-width: 100%;
}

.jumbo-message:not(.ritsu-message-hidden > *) {
  font-size: 5em;
}

.user-extra {
  padding: 0 0.5em;
}

html.imgBlur .ritsu-would-blur {
  filter: blur(4px);
  transition: filter 0.3s;
}

html.imgBlur .ritsu-would-blur-heavy {
  filter: blur(8px);
  transition: filter 0.3s;
}

html.imgBlur .ritsu-would-blur:hover,
html.imgBlur .ritsu-would-blur-heavy:hover {
  filter: blur(0px);
}

.text-only {
  max-height: 8em;
  overflow: auto !important;
}

div.ritsu-avatar-hidden {
  color: var(--app-fg-color);
  font-size: 32px;
  padding: 3px;
}
