.room-component-message-right {
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.user-badge-container {
  align-self: center;
}

.user-badge-tick {
  display: flex;
  position: static;
}

.room-component-flair {
  max-width: 100%;
}

.jumbo-message:not(.ritsu-message-hidden > *) {
  font-size: 5em;
}

.user-extra {
  padding: 0 0.5em;
}
