html.showGender {
  .room-component-message-avatar,
  .navigation-notification-unit-image {
    border-color: #fff;
    /* border-color: attr("data-gender"); */
    border: 2px inset;
    width: 36px;
    height: 36px;
    margin: -2px 10px -2px -2px;

    &[data-gender="m"] {
      border-color: #0070ff;
    }
    &[data-gender="f"] {
      border-color: #ff80ea;
    }
    &[data-gender="pizza"] {
      border-color: #00f0dc;
    }
    &[data-gender="vortex"] {
      border-color: #bf0390;
    }
    &[data-gender="sunflower"] {
      border-color: #ffc107;
    }
    &[data-gender="rose"] {
      border-color: #800000;
    }
    &[data-gender="watermelon"] {
      border-color: #18e281;
    }
  }
  .room-component-message-avatar {
    width: 42px;
    height: 42px;
  }
}
