.user-profile-bottom {
  width: 100%;
  height: 100%;
  overflow: clip;
  max-height: 480px;
}

.user-profile-menu {
  max-height: 700px;
  height: 700px;
  position: relative;
}

.user-comment-input-background {
  height: 75px;
}

.user-comment-input {
  resize: none;
  height: 75px;
  line-height: normal;
}
.user-micropost-input {
  max-height: 133px;
  min-height: 35px;
}

.user-microposts {
  height: auto;
  max-height: 400px;
}

.room-component-input-textarea {
  bottom: 0;
  max-height: 133px;
}

.room-component-input {
  bottom: 0;
  height: auto;
  max-height: 133px;
  min-height: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
}
